.filterDropdown {
  display: flex;
  flex-direction: column;
  gap: 2px;

  @include respond-to(sm) {
    align-items: flex-start;
  }

  select {
    text-align: center;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: $clr-primary-50;
    color: $clr-primary-900;

    @include respond-to(sm) {
      text-align: start;
    }
  }
}
