/* colors */
$clr-primary-900: #040815;
$clr-primary-800: #0c1840;
$clr-primary-700: #15276b;
$clr-primary-600: #1d3796;
$clr-primary-500: #2547c0;
$clr-primary-400: #3f60da;
$clr-primary-300: #6983e2;
$clr-primary-200: #94a7ea;
$clr-primary-100: #bfcaf3;
$clr-primary-50: #eaedfb;

/* fonts */

/* font-sizes */
$text-2xl: clamp(2.441rem, 5.5vw, 3.052rem);
$text-xl: clamp(1.953rem, 3vw, 2.441rem);
$text-lg: clamp(1.563rem, 2.5vw, 1.953rem);
$text-base: 1rem;
/* font-families */
$ff-title: "Bebas Neue", cursive;
$ff-body: "Nunito", sans-serif;
/* spacing */
$letter-spacing-1: 0.1em;

/* breakponts */
$breakpoints: (
  "sm": (
    min-width: 640px,
  ),
  "md": (
    min-width: 768px,
  ),
  "lg": (
    min-width: 1024px,
  ),
);

$max-width: 1280px;
