/* colors */

/* primary */
$clr-primary-900: #040815;
$clr-primary-800: #0c1840;
$clr-primary-700: #15276b;
$clr-primary-600: #1d3796;
$clr-primary-500: #2547c0;
$clr-primary-400: #3f60da;
$clr-primary-300: #6983e2;
$clr-primary-200: #94a7ea;
$clr-primary-100: #bfcaf3;
$clr-primary-50: #eaedfb;
/* secondary */
$clr-secondary-900: #1a0005;
$clr-secondary-800: #4d000f;
$clr-secondary-700: #80001a;
$clr-secondary-600: #b30024;
$clr-secondary-500: #e6002e;
$clr-secondary-400: #ff1a48;
$clr-secondary-300: #ff4d71;
$clr-secondary-200: #ff8099;
$clr-secondary-100: #ffb3c2;
$clr-secondary-50: #ffe5eb;
/* neutral */
$clr-neutral-900: #0b0c0e;
$clr-neutral-800: #22242b;
$clr-neutral-700: #383c47;
$clr-neutral-600: #4f5364;
$clr-neutral-500: #656b80;
$clr-neutral-400: #7f859a;
$clr-neutral-300: #9ba0b0;
$clr-neutral-200: #b8bbc7;
$clr-neutral-100: #d4d6dd;
$clr-neutral-50: #f1f1f4;

/* font-sizes */
$text-2xl: clamp(2.441rem, 5.5vw, 3.052rem);
$text-xl: clamp(1.953rem, 3vw, 2.441rem);
$text-lg: clamp(1.563rem, 2.5vw, 1.953rem);
$text-base: 1rem;

/* font-families */
$ff-title: "Bebas Neue", cursive;
$ff-body: "Nunito", sans-serif;

/* breakponts */
$breakpoints: (
  "sm": (
    min-width: 640px,
  ),
  "md": (
    min-width: 768px,
  ),
  "lg": (
    min-width: 1024px,
  ),
);

$max-width: 1280px;
