body {
  background: url("../../../public/assets/galaxy.jpg") fixed center/cover;
  color: $clr-primary-50;
  font-family: $ff-body;
}

a {
  color: inherit;
}

a:focus-visible,
button:focus-visible,
input:focus-visible,
select:focus-visible,
textarea:focus-visible {
  box-shadow: none;
  outline: 2px dotted $clr-primary-50;
  outline-offset: 1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @extend .heading;
}

button,
select {
  border: 0;
  font-family: inherit;
  cursor: pointer;
}
